
.list-hours{
  margin-bottom: 0 !important;
  strong{
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 31px !important;
    color: #0C1423 !important;
    margin-right: 5px;
  }
  span{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #999999;
  }
}

.linkContactPage{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #999999;
  margin-top: 37px;
}