.firstText{
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #999999;
  margin-bottom: 0;
}

.secondText{
  color: #0C1423;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}