@import "./src/scss/utils/mixins";

.sectionFormPrescription{
  margin-top: -80px;
  @include mediaWidth_1163{
    margin-top: 0;
    padding-top: 40px;
  }
  h2{
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #0C1423;
    max-width: 586px;
    margin-bottom: 26px;
  }
  p{
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    max-width: 586px;
    color: #535353;
    margin-bottom: 47px;
  }
  h3{
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #0C1423;
    margin-bottom: 36px;
  }
}

.flexStyles{
  justify-content: space-between;
  flex-wrap: wrap;
}

.filesInput{
  width: 100%;
  h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 5px;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1198px;
    height: 119px;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.1px;
    color: #666666;
    cursor: pointer;
    margin-bottom: 0;
  }
  button{
    display: block;
    max-width: 200px;
    margin-left: auto;
    padding: 12px 26px;
    background: #fff;
    border: 1px solid #0A0A0A1F;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    margin-top: 20px;
    img{
      margin-right: 5px;
    }
  }
  span{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #979797;

  }
}

.form-input{

  padding: 0 12px;
  margin-bottom: 20px;
  width: 365px;
  max-width: 100%;
  h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
  }
  input{
    display: block;
    width: 100%;
    padding: 13px 18px;
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #666666;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.07);

  }
  .label-radio{
    display: flex;
    margin-top: 15px;
    margin-right: 28px;
  }
  .fake{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 10px;
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background: #0F9547;
      border-radius: 5px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: .2s;
    }
  }
  .radio{
    display: none;

  }
  .radio:checked + .fake:before, .fake{
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.27);
  }
  .date{
    input::-webkit-calendar-picker-indicator {
      background: url("../../../images/calendar1.svg") no-repeat;
      width: 20px;
      height: 20px;
    }
  }
  .calendar{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;

    img{
      display: inline-block;
      max-width: 100%;
    }
  }
}


.medicationTextarea{
  width: 100%;
  margin-bottom: 21px;
  h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 5px;
  }
  .button-close{
    position: absolute;
    top: 0;
    right: 0;
    img{
      margin-right: 0;
    }
  }

  .button-open{
    padding: 12px 29px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #0A0A0A1F;
  }
  img{
    margin-right: 5px;
  }
}

.submit{
  background: #219653;
  padding: 12px 66px;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-left: auto;
}

 .textarea-container{
   display: block;
 }

 .refill{
   display: flex;
   align-items: flex-start;
   width: 100%;
   height: 119px;
   background: rgba(0, 0, 0, 0.01);
   padding: 15px 18px;
   border: 1px solid rgba(0, 0, 0, 0.07);

   font-weight: normal;
   font-size: 14px;
   line-height: 21px;
   letter-spacing: 0.1px;
   color: #666666;
   margin-bottom: 21px;
   &[placeholder="Medication Name(s)/ Or Prescription Number(s)"]{
     display: flex;
     align-items: flex-start;
   }
 }